.main .mui-table-cell .left img {
  height: 60px;
  width: 60px;
}
.main .mui-table-cell .right {
  overflow: hidden;
  padding-left: 20px;
}
.main .mui-table-cell .right .newPrice {
  color: red;
}
.main .mui-table-cell .right .oldPrice {
  text-decoration: line-through;
}
.size span {
  margin-top: 12px;
  display: inline-block;
  height: 25px;
  width: 25px;
  color: #666;
  border: 1px solid #666;
  font-size: 12px;
  line-height: 25px;
  text-align: center;
}
.size span.current {
  background-color: orange;
  color: #fff;
}
.num {
  margin-top: 5px;
  padding-left: 20px;
  text-align: left;
}
