.bg-color {
  background-color: #222D32;
}
.panel-title {
  text-align: center;
  height: 40px;
  line-height: 20px;
}
* {
  margin: 0;
  padding: 0;
}
.mt-150 {
  margin-top: 150px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a,
a:hover,
a:active,
a:link,
a:visited {
  text-decoration: none;
}
/*页面公共部分样式*/
.container-fluid {
  background-color: pink;
  height: 1000px;
  padding-left: 180px;
  transition: all 1s;
}
.container-fluid .index-left {
  width: 180px;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  transition: all 1s;
}
.container-fluid .index-left .title {
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font-size: 24px;
  background-color: #367FA9;
}
.container-fluid .index-left .user {
  text-align: center;
  padding-top: 30px;
}
.container-fluid .index-left .user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.container-fluid .index-left .user p {
  font-size: 16px;
  line-height: 40px;
  color: #fff;
}
.container-fluid .index-left .nav {
  margin-top: 30px;
  width: 100%;
}
.container-fluid .index-left .nav ul li {
  width: 100%;
  border-left: 3px solid transparent;
}
.container-fluid .index-left .nav ul li a {
  display: block;
  padding-left: 50px;
  color: #fff;
  font-size: 14px;
  line-height: 40px;
  height: 40px;
  border-left: 3px solid transparent;
}
.container-fluid .index-left .nav ul li a.current {
  background-color: #1D1F21;
  border-left: 3px solid #367FA9;
}
.container-fluid .index-left.hiddenmenu {
  left: -180px;
}
.container-fluid .index-right {
  padding-top: 50px;
  width: 100%;
}
.container-fluid .index-right .r-top {
  padding-left: 180px;
  height: 50px;
  background-color: #3C8DBC;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0px;
  transition: all 1s;
}
.container-fluid .index-right .r-top a {
  height: 50px;
  width: 50px;
  font-size: 20px;
  color: #fff;
  text-align: center;
  line-height: 50px;
}
.container-fluid .index-right .r-top.hiddenmenu {
  padding-left: 0;
}
.container-fluid .index-right .r-main .breadcrumb {
  margin-top: 20px;
  margin-left: 20px;
  background-color: #fff;
}
.container-fluid.hiddenmenu {
  padding-left: 0;
}
.red {
  color: #880015;
}
